{% extends "base.html" %}
{% block title %} Авторизация пользователя {% endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <h1>Авторизация пользователя</h1>
      <div class="col-12 col-lg-7 my-5">
        <form method="POST" enctype="multipart/form-data" novalidate>
            {{ form.csrf_token }}
            {{ form.username(class="form-control form-control-lg py-3 mb-3", placeholder=form.username.label.text) }}
            {% if form.username.errors %}
                <p class="text-danger">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
            {{ form.password(class="form-control form-control-lg py-3 mb-3", placeholder=form.password.label.text, rows="3", cols="40")}}
            {% if form.password.errors %}
                <p class="text-danger">
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
            {{ form.submit(class="btn btn-primary px-5 py-3 mt-3") }}
        </form>
        <p class="py-3 mb-3">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </p>
      </div>
      <div class="col-12 col-lg-5">
        <img
          class="img-fluid mx-auto d-block"
          src="{{ url_for('static', filename='img/illustration.png') }}"
          alt=""
        />
      </div>
    </div>
  </section>
</main>
{% endblock %}